.label {
  width: 139px;
  height: 15px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 1.25px;
  min-width: 145px;
  margin-left: 5px;
}