.modalDescription {
  color: #003a60
}

.user-form {
  display: flex;
  flex-direction: column;

  .text-field-input {
    width: 404px;
    // height: 23px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.15px;
    margin-bottom: 32px;
  }

  .drop-zone {
    width: 404px;
  }

  .DropzoneArea-dropZone-561 {
    min-height: 180px;
    background-color: #ffffff;
  }
  

}

.datepicker-first {
  margin-right: 10px;
}

.datepicker_1 {
  width: 200px;
}

.filterSection {
  // display: flex;
  justify-content: flex-end;
  min-width: 140px;
}
